body { background-color: gray; font-size: 0.75em; line-height: 1.2em; } 
img { border:none; }
.wrap { text-align:left; background-color: white; } 
a { text-decoration: none; }

#logo { color: darkblue; font-size: 48px; } 
header right a:hover { color: gray; } 
input { color:blue; }

nav { background-color: aqua; }
nav ul { list-style:none; font-family: Verdana, Geneva, sans-serif; font-size: 14px;
    font-weight: bold; color: #ff0099;
}

nav a { text-decoration:none; color:#000000; border-style: hidden hidden solid hidden;
    border-color: transparent; 
}
nav a:hover { color:#2b4480; border-color: blue; }

footer #copyright { font-family: consolas; } 
footer #SNS a { text-decoration: none; } 
#login, #signup, #order { background-color: #d8d8d8; } 
#order .head { font-size: 16px; font-weight: bolder; } 
#order table { border-collapse:collapse; } 
#order table td, th{ text-align: center; } 
#order table input { background-color: transparent; } 
#order table td, th, tr{ border: 1px solid silver; }
